name: Update Site

on:
  push:
    branches: ["main"]
    paths:
      - "**/*.ipynb"
      - "references.yml"
      - "references.yaml"
      - ".github/**"
  workflow_dispatch: {}
  repository_dispatch:
    types: [ site-template-updated ]

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "update-pages"
  cancel-in-progress: true

jobs:
  site:
    uses: Academic-Codex/academic-codex.github.io/.github/workflows/build-site.yml@main
    with:
      execute: "false"
      template_repo: "Academic-Codex/academic-codex.github.io"
      template_ref: ${{ github.event.client_payload.template_ref || 'main' }}